@import "../menu.css";

h1 {
    text-align: center;
    font-family: tomorrow-bold;
    font-size: 3.5rem;
    color: #A8A8A8;
    margin-top: 8rem;
}

.Image_List {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 8rem;
    transform: translateX(-50%);
}

.Image_List a {
    text-decoration: none;
}

.Image_List a img {
    width:21rem;
    border-radius: 6%;
    flex: 1 1 50%;
}