@import "./menu.css";

h1, h2 {
  position: relative;

  text-align: center;
  font-family: Impact;
  color: #A8A8A8;
}

h1 {
  font-size: 3.5rem;
  margin-top: 6rem;
  margin-bottom: 0rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10rem;
}

body p {
  text-indent: 4rem;
  position: relative;
  
  font-size: 2rem;
  color: #A8A8A8;

  margin-left: 3rem;
  margin-right: 3rem;
}