@font-face {
    font-family: "tomorrow";
    src: url("./fonts/tomorrow.ttf");
}

@font-face {
    font-family: "tomorrow-bold";
    src: url("./fonts/tomorrow-bold.ttf");
}

html {
    margin: 0;
    min-height: 100%;
}

body {

    background: #000000;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(45deg, #161616, #070722);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(45deg, #161616, #070722);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.Menu {
    display: flex;
    position: fixed;
    top: 0%;
    left: 0%;
    flex-direction: row;
    background-color: rgba(5,5,5,0.75);
    align-items: center;
    padding-right: 100%;
}
  
.Menu a {
    padding: 1rem 2rem;
    text-align: center;
    color: #D9D9D9;
    text-decoration: none;
    font-size: 1rem;
    font-family: tomorrow-bold;
}

.Menu a:hover {
    background-color: #080827;
}

.Menu_Gap {
    margin-top: 8rem;
}

.Active {
    background-color: #080827;
}

.Inactive {
    background-color: #242424;
}

/* Paragraph Stuff */
body p {
    position: relative;
    
    display: inline-block;
    font-size: 2rem;
    text-align: left;
    font-family: tomorrow;
    color: #A8A8A8;
  
    margin-left: 16rem;
    margin-right: 16rem;
  }

@media (max-width: 1000px) {
    body p {
      margin-left: 1rem;
      margin-right: 1rem;
    }
}
  
.Indent {
    text-indent: 6rem;
}